#map{
    height: 100%;
    width: 100%;
}

.legend-swatch {
  width: 25px;
  height: 25px;
}

.legend-swatch span {
  position: relative;
  left: 35px;
  top: 11px;
  white-space: nowrap;
  font-size: 12px;
}

.legend-swatch.categorical span {
  top: -2px;
}

.chart-legend .legend-swatch {
  width: 12px;
  height: 12px;
}

.chart-legend .legend-swatch span {
  left: 20px;
  font-size: 10px;
}

.chart-legend .legend-swatch.categorical span {
  top: -6px;
}

.legend-swatch span::before {
  content: '';
  width: 8px;
  border-bottom: 1px solid #333;
  height: 1px;
  display: block;
  left: -10px;
  top: 14px;
  position: relative;
}

.chart-legend .legend-swatch span::before {
  left: -8px;
  width: 6px;
  top: 12px;
}

.legend-swatch:last-child span::before {
  display: none;
}

.legend-swatch.categorical:last-child span::before {
  display: block;
}